
div{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    position: absolute;
}
.red{
    background-color: red;
    left: 40px;
    top: 120px;
    
}
.yellow{
    background-color: yellow;
    /* top: 90px;
    left: 90px; */
}
.blue{
background-color: blue;
left: 20px;
top: 100px;

}